workflows/constructor-inbox-manager/main-workflow.json
{
  "name": "Main Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        -32
      ],
      "id": "0757c273-11c1-4466-9b9b-40ea2a19915e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        304,
        -32
      ],
      "id": "6ccd7bd5-ca44-4df4-93db-9c3a363ccf71",
      "name": "Get a message",
      "webhookId": "493e61db-cfb7-48f4-a56a-75a3e466ceb9",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        256
      ],
      "id": "5471ce7d-a437-48c5-919e-5654e01c6db9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e96484db-b89a-4a57-88ae-263be2fe658a",
              "name": "User Message",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "96c1f8a7-7613-42c6-8812-50a8cfe8685b",
              "name": "Mail Subject",
              "value": "={{ $('Get a message').item.json.Subject }}",
              "type": "string"
            },
            {
              "id": "e478fbe7-1624-4abf-a6b2-2ac8a7f4c352",
              "name": "Email From",
              "value": "={{ $('Get a message').item.json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -32
      ],
      "id": "eee75dc0-cd75-476f-9c16-4baa57052f3b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Here is the incoming email: {{ $json.snippet }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=Take the incoming email and clean it up so that its more readable.\nGet rid of HTML tagging, but don't get rid of any of the email content.Don't include subject."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        512,
        -32
      ],
      "id": "144a7fc0-e959-4b6b-9158-371d148a9914",
      "name": "Email Cleaning",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"Reply of question\",\n  \"Label\": \"Other questions\",\n  \"LabelID\": 1234643,\n  \"UserMessage\": \"I want to contact you. How can I?\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1456,
        240
      ],
      "id": "3b0a00db-90ed-4a90-871a-004bcda9014c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8aad343-246a-415b-8e01-9569896fe1cf",
              "name": "Label_Id",
              "value": "={{ $json.output.LabelID }}",
              "type": "number"
            },
            {
              "id": "0d11d4b6-a112-4fb6-aef0-88b84d203db9",
              "name": "Mail_Subject",
              "value": "={{ $json.output.subject }}",
              "type": "string"
            },
            {
              "id": "30c3972d-e947-408f-84df-7143e14f6c8e",
              "name": "Label_name",
              "value": "={{ $json.output.Label.toLowerCase().trim() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -32
      ],
      "id": "e0dd52d0-826d-483d-b6e3-bb8a664b1ab2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Label_name }}",
                    "rightValue": "new business",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a4d177cb-1da0-48d5-a0a2-fe0dd52ff7ec"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New business"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "96b71485-2f77-4095-8a15-601f61de5b4b",
                    "leftValue": "={{ $json.Label_name }}",
                    "rightValue": "=subcontractors and suppliers",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "subcontractors and suppliers"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "13ac1f0e-12aa-40c5-9504-5191c271b23a",
                    "leftValue": "={{ $json.Label_name }}",
                    "rightValue": "current customers",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Current customers"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ecc7168e-18d7-4200-828d-c23b69842878",
                    "leftValue": "={{ $json.Label_name }}",
                    "rightValue": "other questions",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other questions"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1984,
        -64
      ],
      "id": "d48396cd-307f-459d-8755-3daa68265024",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Email content:{{ $('Edit Fields').item.json['User Message'] }}\nSubject:{{ $('Edit Fields').item.json['Mail Subject'] }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=You are an AI assistant for a construction company.\n\nCompany details (must be included in every reply):\n- Company name: Mohit Constructors\n- Company email address: itsmohitkala@gmail.com\n- Company service number: +91 7743051217\n\nYour task is to draft professional email replies to general questions that do not fit the other categories.  \n\nYou have access to two knowledge bases stored in Google Sheets:\n- Knowledge Base 1 – FAQ: 50 Q&A about general company info\n- Knowledge Base 2 – Examples: 35 incoming emails and 26 reference outgoing replies for general questions.\n\nRules:\n- Add company details as provided.\n- Use the google sheets tool \"Knowledge Base 1  Sheet– FAQ\" and Knowledge Base 1  Sheet– FAQ \n- Be polite, concise, and helpful.\n- Address the sender using the details provided in the User Message.\n- Reference Knowledge Base 2 if a relevant example exists.\n- Otherwise, use Knowledge Base 1 to answer the question.\n- Always include company details above in the signature.\n- Format the reply ready to send via Outlook.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        400
      ],
      "id": "37635e98-5f53-475b-9ac4-54912e5e73bf",
      "name": "(Other Questions) BOT",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Email content:{{ $('Edit Fields').item.json['User Message'] }}\nSubject:{{ $('Edit Fields').item.json['Mail Subject'] }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=You are an AI assistant for a construction company.\n\nCompany details (must be included in every reply):\n- Company name: Mohit Constructors\n- Company email address: itsmohitkala@gmail.com\n- Company service number: +91 7743051217\n\nYour task is to draft professional email replies to current customers with ongoing projects. \n\nYou have access to two knowledge bases stored in Google sheets:\n- Knowledge Base 1 – FAQ: 50 Q&A about general company info\n- Knowledge Base 2 – Examples: 35 incoming emails and 26 reference outgoing replies from ongoing customer communications.\n\nRules:\n- add company details as provided.\n- Use the google sheets tool \"Knowledge Base 1  Sheet– FAQ\" and Knowledge Base 1  Sheet– FAQ \n- Be courteous, professional, and clear.\n- Address the sender using the details provided in the User Message.\n- Reference Knowledge Base 2 if a relevant example exists.\n- Otherwise, use Knowledge Base 1 for additional information.\n- Always include company details above in the signature.\n- Format the reply ready to send via Outlook.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        176
      ],
      "id": "b2df2172-c5a2-4452-8e91-2d506f05a093",
      "name": "(Current Customers) BOT",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Email content:\nSubject: {{ $('Edit Fields').item.json['Mail Subject'] }}\nBody: {{ $('Edit Fields').item.json['User Message'] }}\n\n\n"
            }
          ]
        },
        "options": {
          "systemMessage": "=You are an AI assistant for a construction company.\n\nCompany details (must be included in every reply):\n- Company name: Mohit Constructors\n- Company email address: itsmohitkala@gmail.com\n- Company service number: +91 7743051217\n\nYour task is to draft a professional email reply to a potential new customer or business inquiry.  \n\n\nYou have access to two knowledge bases stored in Google Sheets:\n- Knowledge Base 1 – FAQ: 50 Q&A about general company info (office hours, location, services, etc.)\n- Knowledge Base 2 – Examples: 35 incoming emails and 26 reference outgoing replies from new business inquiries.\n\nRules:\n-Add company details as provided !\n- Use the google sheets tool \"Knowledge Base 1  Sheet– FAQ\" and Knowledge Base 1  Sheet– FAQ \n- Be welcoming, professional, and clear.\n- Reference Knowledge Base 2 if a relevant example exists.\n- Otherwise, use Knowledge Base 1 to provide information about services, office hours, or company info.\n- Encourage the recipient to engage or request more information politely.\n- Include a professional closing.\n- Format the reply ready to send via Outlook.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        -256
      ],
      "id": "024eae1b-d9ea-42ab-937f-2968337833e7",
      "name": "(New Business) BOT",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1296,
        240
      ],
      "id": "3cc225fa-74b8-4e94-b90f-6628e4eb4b06",
      "name": "Get many labels in Gmail",
      "webhookId": "a7f37310-f23f-45ca-bb68-719c7d17727d",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Edit Fields1').item.json.Mail_Subject }}",
        "emailType": "html",
        "message": "={{ $('(New Business) BOT').item.json.content.parts[0].text }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        -256
      ],
      "id": "bce3bf66-9a3d-46ab-8bdf-976658d29ba7",
      "name": "Create a draft",
      "webhookId": "08cc7fb1-6297-496a-b9c2-3c25e2cbad8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $('Gmail Trigger').item.json.labels[0].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3392,
        -48
      ],
      "id": "7beb7d8f-2b48-49ff-a471-340c59cfebdc",
      "name": "Add label to message1",
      "webhookId": "382b0c47-a1fc-4e90-977a-6dd45dd170f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $('Gmail Trigger').item.json.labels[0].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3392,
        176
      ],
      "id": "4a5be2c9-35be-46d1-85b5-2b279b567607",
      "name": "Add label to message2",
      "webhookId": "382b0c47-a1fc-4e90-977a-6dd45dd170f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $('Gmail Trigger').item.json.labels[0].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3392,
        400
      ],
      "id": "2186ea89-d7d3-4484-8f25-bad51109d89b",
      "name": "Add label to message3",
      "webhookId": "382b0c47-a1fc-4e90-977a-6dd45dd170f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Edit Fields1').item.json.Mail_Subject }}",
        "emailType": "html",
        "message": "={{ $('(subcontractors and suppliers) BOT').item.json.content.parts[0].text }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        -48
      ],
      "id": "af979bbd-02c8-4dc3-a4f2-cdc1e67a1da5",
      "name": "Create a draft1",
      "webhookId": "08cc7fb1-6297-496a-b9c2-3c25e2cbad8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Edit Fields1').item.json.Mail_Subject }}",
        "emailType": "html",
        "message": "={{ $('(Current Customers) BOT').item.json.content.parts[0].text }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        176
      ],
      "id": "9c91a8a2-7bcc-4472-abd8-70333517a946",
      "name": "Create a draft2",
      "webhookId": "08cc7fb1-6297-496a-b9c2-3c25e2cbad8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Edit Fields1').item.json.Mail_Subject }}",
        "emailType": "html",
        "message": "={{ $('(Other Questions) BOT').item.json.content.parts[0].text }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3728,
        400
      ],
      "id": "7a47c79d-6c32-425c-aee9-9ae1d6ef2e69",
      "name": "Create a draft3",
      "webhookId": "08cc7fb1-6297-496a-b9c2-3c25e2cbad8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1rqKeCIjlaSd2m7AxtgS9ZZPOskl7Nb6YmqlKpkWt5b0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rqKeCIjlaSd2m7AxtgS9ZZPOskl7Nb6YmqlKpkWt5b0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2848,
        64
      ],
      "id": "74fe4e14-95e9-4d03-a24e-290467396515",
      "name": "Knowledge Base 1  Sheet– FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XcYCceeHyDehU84M",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Email content:{{ $('Edit Fields').item.json['User Message'] }}\nSubject:{{ $('Edit Fields').item.json['Mail Subject'] }}"
            }
          ]
        },
        "options": {
          "systemMessage": "=You are an AI assistant for a construction company.\n\nCompany details (must be included in every reply):\n- Company name: Mohit Constructors\n- Company email address: itsmohitkala@gmail.com\n- Company service number: +91 7743051217\n\nYour task is to draft professional email replies to subcontractors, vendors, or suppliers.\n\nYou have access to two knowledge bases:\n- Knowledge Base 1 – FAQ: 50 Q&A about general company info (office hours, location, services, etc.)\n- Knowledge Base 2 – Examples: 35 incoming emails and 26 reference outgoing replies from subcontractors or suppliers.\n\nRules:\n- Be professional, polite, and concise.\n- Address the sender using the details provided in the User Message.\n- Reference Knowledge Base 2 if a relevant example exists.\n- Otherwise, use Knowledge Base 1 to construct the reply.\n- Always include company details above in the signature.\n- Format the reply ready to send via Outlook.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        2368,
        -48
      ],
      "id": "9dee606e-463d-492b-a9a3-51e662873e6e",
      "name": "(subcontractors and suppliers) BOT",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $('Gmail Trigger').item.json.labels[0].id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3392,
        -256
      ],
      "id": "2b14ab22-de0e-477f-bd1d-682ea8c02709",
      "name": "Add label to message",
      "webhookId": "382b0c47-a1fc-4e90-977a-6dd45dd170f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "7Nje6OcMcvVJjfL1",
          "name": "Gmail account 5"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "use this tool to check and compare the type of mails received and answer the category accordingly",
        "tableName": {
          "__rl": true,
          "value": "Saample Mails",
          "mode": "list",
          "cachedResultName": "Saample Mails"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1008,
        256
      ],
      "id": "ed696107-d882-4680-a239-18bf60dc0664",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "XM1wCwsFMiYKOuqt",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        432
      ],
      "id": "bf6060dc-f5ae-4671-a192-df15e3564b2c",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3628f25e-80c3-4f7e-bcf4-ef7838c0b2ef",
              "name": "draftreply",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        400
      ],
      "id": "6596283a-3171-48d0-b6a3-6423873c14ae",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3628f25e-80c3-4f7e-bcf4-ef7838c0b2ef",
              "name": "draftreply",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        -48
      ],
      "id": "e89e8d6c-eb64-4a4b-86af-9821ea2f7a30",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3628f25e-80c3-4f7e-bcf4-ef7838c0b2ef",
              "name": "draftreply",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        -256
      ],
      "id": "3f2c2de0-aeb2-4d24-8ec5-a804df73931c",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3628f25e-80c3-4f7e-bcf4-ef7838c0b2ef",
              "name": "draftreply",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3152,
        176
      ],
      "id": "0bcaaf9c-8d30-4a3e-8c2b-35674798623b",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1006534.hstgr.cloud/webhook/86c6fbab-8c00-4af1-a711-9bba7bc67c66",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID",
              "value": "={{ $json.data.id }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.data.subject }}"
            },
            {
              "name": "category",
              "value": "={{ $json.data.category }}"
            },
            {
              "name": "body",
              "value": "={{ $json.data.content }}"
            },
            {
              "name": "Sender",
              "value": "={{ $json.data.sender }}"
            },
            {
              "name": "draftedreply",
              "value": "={{ $json.data.draft_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4288,
        400
      ],
      "id": "5c9d46e5-1604-4a97-86d5-3bda8f89cbf2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gutnatysxqchxpwtlppl.supabase.co/functions/v1/gmail-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('AI Agent').item.json.output.Label }}"
            },
            {
              "name": "subject ",
              "value": "={{ $('AI Agent').item.json.output.subject }}"
            },
            {
              "name": "sender",
              "value": "={{ $('Edit Fields').item.json['Email From'] }}"
            },
            {
              "name": "date",
              "value": "={{ $('Gmail Trigger').item.json.internalDate }}"
            },
            {
              "name": "body",
              "value": "={{ $('Edit Fields').item.json['User Message'] }}"
            },
            {
              "name": "draftreply",
              "value": "={{ $('(New Business) BOT').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        -256
      ],
      "id": "01d6f84b-53bc-45d4-b89d-5acb83388fa5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gutnatysxqchxpwtlppl.supabase.co/functions/v1/gmail-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('AI Agent').item.json.output.Label }}"
            },
            {
              "name": "subject",
              "value": "={{ $('AI Agent').item.json.output.subject }}"
            },
            {
              "name": "sender",
              "value": "={{ $('Edit Fields').item.json['Email From'] }}"
            },
            {
              "name": "date",
              "value": "={{ $('Gmail Trigger').item.json.internalDate }}"
            },
            {
              "name": "body",
              "value": "={{ $('Edit Fields').item.json['User Message'] }}"
            },
            {
              "name": "draftreply",
              "value": "={{ $('(subcontractors and suppliers) BOT').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        -48
      ],
      "id": "2abf6446-c2b2-4c5a-9b9c-07f85c5ce67d",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gutnatysxqchxpwtlppl.supabase.co/functions/v1/gmail-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('AI Agent').item.json.output.Label }}"
            },
            {
              "name": "subject",
              "value": "={{ $('AI Agent').item.json.output.subject }}"
            },
            {
              "name": "sender",
              "value": "={{ $('Edit Fields').item.json['Email From'] }}"
            },
            {
              "name": "date",
              "value": "={{ $('Gmail Trigger').item.json.internalDate }}"
            },
            {
              "name": "body",
              "value": "={{ $('Edit Fields').item.json['User Message'] }}"
            },
            {
              "name": "draftreply",
              "value": "={{ $('(Other Questions) BOT').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        400
      ],
      "id": "1ff20dff-8b1b-45bb-b76a-b7e29e49d141",
      "name": "HTTP Request "
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gutnatysxqchxpwtlppl.supabase.co/functions/v1/gmail-webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "={{ $('AI Agent').item.json.output.Label }}"
            },
            {
              "name": "subject ",
              "value": "={{ $('AI Agent').item.json.output.subject }}"
            },
            {
              "name": "sender",
              "value": "={{ $('Edit Fields').item.json['Email From'] }}"
            },
            {
              "name": "date ",
              "value": "={{ $('Gmail Trigger').item.json.internalDate }}"
            },
            {
              "name": "body ",
              "value": "={{ $('Edit Fields').item.json['User Message'] }}"
            },
            {
              "name": "draftreply",
              "value": "={{ $('(Current Customers) BOT').item.json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4016,
        176
      ],
      "id": "aaeecedd-c340-4cb5-a4ff-c46ab672ed82",
      "name": "HTTP Request 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1006534.hstgr.cloud/webhook/86c6fbab-8c00-4af1-a711-9bba7bc67c66",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID",
              "value": "={{ $json.data.id }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.data.subject }}"
            },
            {
              "name": "category",
              "value": "={{ $json.data.category }}"
            },
            {
              "name": "body",
              "value": "={{ $json.data.content }}"
            },
            {
              "name": "Sender",
              "value": "={{ $json.data.sender }}"
            },
            {
              "name": "draftedreply",
              "value": "={{ $json.data.draft_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4288,
        176
      ],
      "id": "d9206e32-220f-4d35-90d5-f7d72464a785",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1006534.hstgr.cloud/webhook/86c6fbab-8c00-4af1-a711-9bba7bc67c66",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID",
              "value": "={{ $json.data.id }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.data.subject }}"
            },
            {
              "name": "category",
              "value": "={{ $json.data.category }}"
            },
            {
              "name": "body",
              "value": "={{ $json.data.content }}"
            },
            {
              "name": "Sender",
              "value": "={{ $json.data.sender }}"
            },
            {
              "name": "draftedreply",
              "value": "={{ $json.data.draft_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4272,
        -48
      ],
      "id": "6c7e7253-09a7-4bd7-b504-d3a80f5e032f",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.srv1006534.hstgr.cloud/webhook/86c6fbab-8c00-4af1-a711-9bba7bc67c66",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ID",
              "value": "={{ $json.data.id }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.data.subject }}"
            },
            {
              "name": "category",
              "value": "={{ $json.data.category }}"
            },
            {
              "name": "body",
              "value": "={{ $json.data.content }}"
            },
            {
              "name": "Sender",
              "value": "={{ $json.data.sender }}"
            },
            {
              "name": "draftedreply",
              "value": "={{ $json.data.draft_reply }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4272,
        -256
      ],
      "id": "fcf166b3-0d82-4c2a-8c49-f507373c26e3",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "content": "                                               Creating Label > Creating Gmail Draft",
        "height": 928,
        "width": 1072,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3072,
        -336
      ],
      "id": "14cf319c-8f48-4eb8-8dac-0c61d991fa73",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Drafting Message AI\n\n",
        "height": 944,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2304,
        -336
      ],
      "id": "e12e4143-a1bd-4515-9cd2-5f77de383185",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email content: \nSubject: {{ $json['Mail Subject'] }}\nBody: {{ $json['User Message'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an email categorization assistant for a construction company.  \n\nRead the email carefully and assign it to exactly one of the following 4 categories.  \n\n\n1. Subcontractors and suppliers  \n   → Emails from vendors, material suppliers, or subcontractors.  \n   Examples: asking about delivery dates, sending invoices, clarifying technical drawings, discussing material availability.  \n\n2. Current customers  \n   → Emails from clients with ongoing projects.  \n   Examples: progress updates, clarifications on construction work, reporting issues, confirming schedules.  \n\n3. New business  \n   → Emails from potential new customers or new opportunities.  \n   Examples: new project inquiries, partnership requests, sales opportunities, asking for quotes.  \n\n4. Other questions  \n   → General questions that don’t fit the above.  \n   Examples: asking about office hours, services, company location, or weekend work.  \n\nRules:\n 1. If uncertain, query the \"Saample Mails\" tool (Supabase Vector Store) to compare and verify.\n 2. Output must be a JSON object only with three keys\"\n  - \"Label\" → exactly one of the 4 category names.\n  - \"UserMessage\" → the email body as a string.\n  - \"LabelId\" → valid only numbers label id.\n\nKindly include subject and make sure to pass different label id on every execution.\n\n\nAlways use lowercase.  \n- Always use the exact labels provided.  \n- Do not add numbers, underscores, or any extra words.  \n- Do NOT add any extra text, explanation, or formatting.\n- If unsure, pick \"other questions\".\n-Return your output strictly in JSON \n- Give an valid label id !!\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1072,
        -32
      ],
      "id": "975ae8b8-69ba-4965-8538-1c5a80fcfb35",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "Categorizing AI\n",
        "height": 736,
        "width": 768,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        -160
      ],
      "id": "bd41aa59-d0d9-483e-bfde-daa7bce5d8e1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Storing Data \n",
        "height": 928,
        "width": 224,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4208,
        -352
      ],
      "id": "9e3d882c-c028-484c-87fc-7eeba154a44c",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "199a87507ed2fa86",
          "threadId": "199a87507ed2fa86",
          "snippet": "hey i am an custroctur worker can u hire me i have experence of 5+ years ?",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5785,
          "historyId": "76098",
          "internalDate": "1759467840000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Mohit <stfumohit@gmail.com>",
          "Subject": "hiring?",
          "To": "itsmohitkala@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Email Cleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cleaning": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "(New Business) BOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(subcontractors and suppliers) BOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Current Customers) BOT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "(Other Questions) BOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(New Business) BOT": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "(Current Customers) BOT": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Other Questions) BOT": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message3": {
      "main": [
        [
          {
            "node": "Create a draft3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message2": {
      "main": [
        [
          {
            "node": "Create a draft2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base 1  Sheet– FAQ": {
      "ai_tool": [
        [
          {
            "node": "(Current Customers) BOT",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "(New Business) BOT",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "(subcontractors and suppliers) BOT",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "(Other Questions) BOT",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "(subcontractors and suppliers) BOT": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft1": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft2": {
      "main": [
        [
          {
            "node": "HTTP Request 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft3": {
      "main": [
        [
          {
            "node": "HTTP Request ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Add label to message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request ": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe2d63f8-fa69-4ab6-819d-20b35569bcd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d418db9b4fb85c910f43c83e2a58ee35c73a7b58e645f00e73ac13f6335a6e5c"
  },
  "id": "z7aPld4anrF8LhZA",
  "tags": []
}
