workflows/invoice-generator/mainworkflow.json

{
  "name": "Main Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "645cd99a-09b8-46ea-ac49-8334e9c57f43",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        288
      ],
      "id": "d98eca81-fb8b-44f6-ac1c-8d988e376d5f",
      "name": "Webhook",
      "webhookId": "645cd99a-09b8-46ea-ac49-8334e9c57f43"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "Do analyze the invoice bill !!",
        "inputType": "binary",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        288
      ],
      "id": "ed818926-f1d5-4864-a8b4-09b692d48260",
      "name": "Analyze image",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content.parts[0].text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Role: Assistant helping with product information based on invoice analysis.\n\nInstruction:\nYou are given the invoice data extracted by the Gemini tool. For each product, return the following information in JSON format:\n\nproduct_name – The name of the product.\n\nin_warranty – Boolean true or false if the product is under warranty.\n\npurchase_date – Date of purchase (if available).\n\nprice – Price of the product (if available).\n\nquantity – Quantity purchased (if available).\n\nImportant:\n\nReturn the data strictly in JSON array format, one object per product.\n\nDo not include extra text or explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        288
      ],
      "id": "cc960b40-268e-494a-a966-9bd39d05aa45",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        480
      ],
      "id": "c3fc9200-b877-44dd-a159-1c472fe6217f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "bW01zsUXwdJeqk0l",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"products\": [\n    {\n      \"product_name\": \"ABC Headphones\",\n      \"in_warranty\": true,\n      \"purchase_date\": \"2025-07-12\",\n      \"price\": \"2999\",\n      \"quantity\": 1\n    },\n    {\n      \"product_name\": \"XYZ Mouse\",\n      \"in_warranty\": false,\n      \"purchase_date\": \"2025-05-20\",\n      \"price\": \"1499\",\n      \"quantity\": 2\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        496
      ],
      "id": "3835460e-23cd-4684-82fb-cbbdc6052b57",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"products\": [\n    {\n      \"product_name\": \"{{ $json.output.products[0].product_name }}\",\n      \"in_warranty\":\"{{ $json.output.products[0].in_warranty }} \",\n      \"purchase_date\": \"{{ $json.output.products[0].purchase_date }}\",\n      \"price\": \"{{ $json.output.products[0].price }}\",\n      \"quantity\": \" {{ $json.output.products[0].quantity }}\" \n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        288
      ],
      "id": "05c8a969-01c3-434d-98df-a95465704fd7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cec59833-2885-417f-9c5b-c7428a9d3d70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d418db9b4fb85c910f43c83e2a58ee35c73a7b58e645f00e73ac13f6335a6e5c"
  },
  "id": "37mQQ5jiXrhGUMtl",
  "tags": []
}
